body {
  padding: 64px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}

.update-notification {
  margin-top: 0;
  color: #880000;
}

.scrolling-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.scrolling-list__item {
  border: 1px solid grey;
  padding: 16px;
}

.item {
  position: relative;
}

.item__name {
  margin: 0;
  font-size: 130%;
}

.item__state {
  font-size: 80%;
  color: grey;
  margin-top: 0;
}

.item__prerelease {
  position: absolute;
  right: 16px;
  top: 16px;
}

@media screen and (max-width: 600px) {
  .item__prerelease {
      position: relative;
      display: block;
      top: 0;
      right: 0;
      margin-bottom: 16px;
  }
}

.item__install {
  padding: 8px;
}

.item__install:not(:last-child) {
  margin-right: 8px;
}
